@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Rajdhani:wght@700&display=swap");

.App {
  text-align: center;
  background-image: url("./track.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrkout {
  display: inline-block;
  padding: 10%;
}

h1 {
  padding-top: 50px;
  color: black;
  font-size: 40px;
  font-family: "Paytone One", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Rajdhani", sans-serif;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.button:hover {
  background-color: red;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
